---
import { urlFor } from "../../../utils/sanityClient";
import Button from '../../global/Button.astro'

const { content } = Astro.props;
---
<section class="video-text">

  <span class="section-title">
    <h2 class="heading">
      <div class="section-video-text_heading h4">{content.headingLine1}</div>
      <div class="section-video-text_heading h4">{content.headingLine2}</div>
    </h2>
    <div class="title-content">
      <p class="section-video-text_description description caption">{content.description}</p>
      <Button text="Read More" url="/test" />
    </div>
  </span>

  <span class="media">
    {content.video ? 
      <video 
        id="section-video-text_media"
        class="section-video-text_video video"
        src={content.videoURL}
        poster={urlFor(content.image).width(480).height(800).auto('format').url()}
        loop
        autoplay
        muted
        playsinline
      />
     : 
      <img 
        id="section-video-text_media"
        sizes="(max-width: 768px): 100vw, 33vw"
        srcset={`
          ${urlFor(content.image).width(600).height(1000).auto('format').url()} 600w,
          ${urlFor(content.image).width(800).height(1000).auto('format').url()} 800w,
          ${urlFor(content.image).width(1280).height(1000).auto('format').url()} 1280w,
        `}
        src={urlFor(content.image).url()} 
      />
    }

  </span>

  <span class="section-details">
    <ul class="details-table">
      {content.details.map((detail) => (
        <li class="section-video-text_detail detail caption">{detail}</li>
      ))}
    </ul>
  </span>

</section>

<script>
  import { gsap, mediaZoom, scrambleIn } from "../../../utils/gsap";

  const timeline = gsap.timeline({ scrollTrigger: ".section-video-text_heading", defaults: { ease: "power4.out", duration: 0.6 }})
  mediaZoom("#section-video-text_media", timeline, "<");
  scrambleIn(".section-video-text_heading", timeline, "<")
  timeline.to(".section-video-text_detail", {
    autoAlpha: 1,
    stagger: 0.05
  }, "<0.4")
  scrambleIn(".section-video-text_description", timeline, "<0.4")

</script>

<style>
  .video-text {
    padding: 0 var(--page-margin) var(--space-md);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: var(--space-lg) var(--page-margin);
    gap: var(--space-md);
    min-height: 80svh;
    /* width: 100%; */
    /* display: none; */
  }

  .section-title {
    flex: 0 1 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space-md) 0;
    gap: var(--space-sm);
  }

  .section-video-text_heading {
    /* visibility: hidden; */
  }

  .heading * {
    margin: 0;
    /* visibility: hidden; */
  }

  .heading *:nth-child(2){
    margin-left: 1em;
  }

  .title-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-2xs);
    max-width: 30ch;
    align-self: flex-end;
  }

  .description {
    visibility: hidden;
    word-wrap: break-word;
    word-break: break-all;
    text-align: justify;
  }

  .media {
    aspect-ratio: 3 / 4;
    flex: 1 1 50%;
    position: relative;
    border-radius: var(--radius-md);
    overflow: hidden;
    max-height: calc(100svh - var(--header-height) - var(--page-margin));
  }

  .media img,
  .media video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  .section-details {
    flex: 0 1 33%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }

  .details-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0.5px solid var(--color-border);
    border-radius: var(--radius-sm);
  }

  .detail {
    margin: 0;
    padding: 0;
    text-align: center;
    padding: var(--space-3xs);
    overflow: hidden;
    color: var(--color-foreground-secondary);
    border: 0.5px solid var(--color-border);
    visibility: hidden;
  }

  @media screen and (max-width:768px) {
    .video-text {
      flex-direction: column;
      gap: var(--space-sm);
    }
    .section-title {
      flex: 0 0 auto;
      flex-direction: row;
      padding: 0;
    }
    .media {
      flex: 0 0 auto;
    }

    .section-details {
      flex: 0 0 auto;
    }
  }
</style>