---
import { urlFor } from "../../../utils/sanityClient";
import Badge from "../../global/Badge.astro";
import SanityImage from "../../helpers/SanityImage.astro";

const { title, subtitle, projectType, image, imageAlt } = Astro.props;
// console.log(image)
---
<section class="project_hero">
    <div class="section-intro">
        <span class="section-title">
            <h1 class="project-title">{title}</h1>
            <Badge text={projectType.title} url={`/work/${projectType.slug.current}`} />
        </span>
        <h2 class="caption">{subtitle}</h2>
    </div>
    <div class="media">
        <SanityImage 
            sizes="100vw"
            image={image}
            threeImage={true}
        />
    </div>
</section>

<style>
    .project_hero {
        display: flex;
        flex-direction: column;
        gap: var(--space-2xs);
    }

    .section-intro {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 var(--page-margin-narrow);
        flex-wrap: wrap;
        gap: var(--space-3xs);
    }

    .section-title {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: var(--space-3xs);
    }

    .project-title {
        margin: 0;
    }

    .media {
        border-radius: var(--radius-md);
        overflow: hidden;
        aspect-ratio: 2 / 1;
        margin: 0 var(--page-margin);
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>