---
interface Props {
	title: string;
}

import Header from '../components/global/Header.astro';
import Footer from '../components/global/Footer.astro';
import { ViewTransitions } from "astro:transitions";
import { getSiteSettings, urlFor } from '../utils/sanityClient';

const data = await getSiteSettings()
console.log(data[0])

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={urlFor(data[0].favicon).url()} />
		<title>{`${data[0].title} | ${title}`}</title>
		<meta name="description" content={data[0].description} />

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://www.treyhardin.com">
		<meta property="og:type" content="website">
		<meta property="og:title" content={`${data[0].title} | ${title}`}>
		<meta property="og:description" content={data[0].description}>
		<meta property="og:image" content={urlFor(data[0].ogImage).url()}>

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="treyhardin.com">
		<meta property="twitter:url" content="https://www.treyhardin.com">
		<meta name="twitter:title" content={`${data[0].title} | ${title}`}>
		<meta name="twitter:description" content={data[0].description}>
		<meta name="twitter:image" content={urlFor(data[0].twitterImage).url()}>

		<meta name="generator" content={Astro.generator} />
    <ViewTransitions />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>

	* {

	}

	:root {
		/* Browser Fixes */
		box-sizing: border-box;
		min-width: 0;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		/* Color */
		--color-ink: #000000;
		--color-subdued: #000000;
		--color-light: #ffffff;
		--color-reverse: #ffffff;

		--color-brand: #ffffff;
		--color-brand-contrast: #ffffff;
		--color-brand-secondary: #ffffff;
		--color-brand-secondary-contrast: #ffffff;

		--color-foreground: var(--color-reverse);
		--color-background: var(--color-ink);

		/* Spacing */
		--space-3xs: 5px;
		--space-2xs: 10px;
		--space-xs: 15px;
		--space-sm: 20px;
		--space-md: 30px;
		--space-lg: 40px;
		--space-xl: 60px;
		--space-2xl: 80px;
		--space-3xl: 120px;
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--color-background);
	}
	body {
		color: var(--color-foreground);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
