---
import { Icon } from 'astro-icon/components'

const { content } = Astro.props;
---
<footer>

  <div class="content">

    <div class="section-title">

      <span class="logo-primary">
        <Icon name="logoTrey" class="logo"/>
        <span class="tagline">
          <Icon name="star" />
          <p class="tagline-text utility">{content.footerTagline}</p>
        </span>
      </span>

      <nav class="navigation">
        {content.footerNavigation.map((link) => (
          <a class="footer-link h6" href={link.url}>{link.text}</a>
        ))}
      </nav>
    </div>


    <div class="section-details">
      <p class="subtitle h6">{content.footerSubtitle}</p>
      <span class="logo-secondary">
        <Icon name="logoHardin" class="logo" />
      </span>

    </div>
  </div>
  <div class="subfooter">
    <p class="utility">{content.copyrightText}</p>
    <div class="subfooter-links">
      {content.footerLinks.map((link) => (
        <a class="utility" href={link.url} target="_blank">{link.text}</a>
      ))}
    </div>
  </div>
</footer>

<script>

  import { gsap } from "../../utils/gsap";

  const section = document.querySelector('footer')
  const links = section.querySelectorAll('.footer-link')
  const subtitle = section.querySelector('.subtitle')
  const tagline = section.querySelector('.tagline-text')

  // console.log(section)
  // console.log(links)

  const timeline = gsap.timeline({ scrollTrigger: {
    trigger: section,
    start: "top 80%"
  }, defaults: { ease: "power4.out", duration: 1.0 }})

  timeline.from(links, {
    opacity: 0,
    y: 30,
    stagger: 0.2,
  })

  timeline.from(subtitle, {
    opacity: 0,
    y: 30,
  }, "<0.8")

  timeline.from(tagline, {
    opacity: 0,
    y: 30,
  }, "<0.4")

</script>

<style>

  footer {
    min-height: calc(100svh - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: var(--space-2xs) var(--page-margin-narrow) var(--space-2xs);
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .logo {
    width: auto;
    height: max(20vw, 100px);;
  }

  .section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-items: flex-start; */
    justify-content: space-between;
    gap: var(--space-xs);
  }

  .logo-primary {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--space-xs);
  }


  .tagline {
    display: flex;
    flex-direction: row;
    gap: var(--space-3xs);
  }

  .navigation {
    display: flex;
    flex-direction: row;
    gap: var(--space-xs);
  }

  .section-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-xs);
  }

  .subfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .subfooter-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-sm);
  }

  @media screen and (max-width: 768px) {
    footer {
      padding-bottom: var(--space-lg);
    }

    .content {
      /* justify-content: space-between; */
    }

    .section-title {
      flex-direction: column;
      align-items: flex-start;
    }

    .navigation {
      flex-direction: column;
    }

    .section-details {
      flex-direction: column;
      align-items: flex-end;
    }
  }
</style>